
@model PageLanguageBagModel
@{
    ViewData["Title"] = $"Yossef Hawila";
}

<p id="CLanguage">
</p>

<div id="LanguageSelectorDiv" class="LanguageSelectorDiv">
    <a id="ArabicLanguage" class="LanguageSelector"  onclick="SelectLanguage('Ar')">
        Arabic
    </a>
    <a id="EnglishLanguage" class="LanguageSelector" onclick="SelectLanguage('En')" >
        English
    </a>
</div>

<script>

    const PortfolioModels = @Html.Raw(Json.Serialize(Model.PortfolioModels));
    

    if(hasCookie("lang"))
    {
        SelectLanguage(getCookie("lang"));
    }else
    {
        SelectLanguage("@Model.Language");
    }

</script>